#!/usr/bin/env bash

# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias root='cd $(git rev-parse --show-toplevel)'

# Lazy stuff
alias update='sudo apt update'
alias upgrade='sudo apt upgrade'
alias list_upgrades='apt list --upgradeable'
alias reload='source ~/.zshrc'
alias start_mongo_service='sudo service mongod start'
alias stop_mongo_service='sudo service mongod stop'

# Shortcuts
alias docs='cd ~/Documents'
alias dl='cd ~/Downloads'
alias desk='cd ~/Desktop'

# Open projects
alias dotfiles='code ~/dotfiles'
alias day4erp='code ~/repositories/Day4ERP'
alias d4client='code ~/repositories/d4client'
alias d4server='code ~/repositories/d4server'
alias edit_wikis='code ~/wikis'
alias edit_scripts='code ~/scripts'

# Git aliases
alias status='git status'
alias add='git add .'
alias commit='git commit'
alias amend='git commit --amend'
alias push='git push'
alias pull='git pull'

# Open Chrome in Debug Mode
alias start_chrome_debugging='google-chrome --remote-debugging-port=9222 &'
# alias increaseVidMemory='VBoxManage modifyvm 'Name of VM' --vram 256'
