#!/usr/bin/env bash

# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias root='cd $(git rev-parse --show-toplevel)'

# Lazy stuff
alias update='sudo apt update'
alias upgrade='sudo apt upgrade'
alias list-upgrades='apt list --upgradeable'
alias reload='source ~/.zshrc'
alias clear-history='rm $HISTFILE'
alias chrome='google-chrome &'

# Shortcuts
alias docs='cd ~/Documents'
alias dl='cd ~/Downloads'
alias desk='cd ~/Desktop'
alias permutations='/home/nidzo/repos/permutations/src/bin/Release/netcoreapp2.1/linux-x64/permutations'

# Open projects
alias dotfiles='code ~/.dotfiles'
alias edit-scripts='code ~/scripts'

# Git aliases
alias status='git status'
alias add='git add .'
alias commit='git commit'
alias amend='git commit --amend'
alias push='git push'
alias pull='git pull'

# PostgreSQL

alias statuspostgres="sudo service postgresql status"
alias startpostgres="sudo service postgresql start; statuspostgres"
alias stoppostgres="sudo service postgresql stop; statuspostgres"


# Open Chrome in Debug Mode
